@use '../../../global.scss';


form{
    ion-card{
        background:linear-gradient(#0d8dcd, #d5bcd6) ;
        margin: 0 auto;
        top: 5vh;
        height: 90vh;
        width: 45vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      
    }
}


ion-card-header{
    ion-card-subtitle{
        font-size: x-large;
        color: global.$color-primario
    }
}



